* {
    box-sizing: border-box;
}

body {
    font-family: "VT323", monospace;
    background: lightgray;
}

.doomsdayClockPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clockButtonBackground {
    background: repeating-linear-gradient(
        45deg,
        #F7C700,
        #F7C700 10px,
        #000000 10px,
        #000000 20px
      );
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.clockResetButtonContainer {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.clockStartButton {
    height: 75px;
    width: 75px;
    margin: 15px;
    background: red;
    stroke: black;
    border-radius: 50px;
    cursor: pointer;
    border-width: 7.5px;
    border-color: black;
}

.clockResetButton {
    height: 75px;
    width: 150px;
    margin: 10px;
    background: #FF0000;
    stroke: black;
    border-radius: 7.5px;
    cursor: pointer;
    border-width: 7.5px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.buttonDisplayStyling {
    font-size: 1.5rem;
    padding: 10px 15px;
    width: 60%;
    height: 75px;
    align-content: center;
    background: black;
    color: #66FF66;

}

@media only screen and (max-width: 500px) {

    body {
        margin: 0%;
        background: #000000;
    }

    #doomsdayClockHeader {
        display: none;
    }

    .doomsdayClockPanel {
        display: block;
        flex-direction: column;
        align-items: center;
        background: none;
    }

    .clockButtonBackground {
        width: 100vw;
        height: 21vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }

    .clockResetButtonContainer {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .buttonDisplayStyling {
        font-size: 2rem;
        width: 60%;
        height: 70%;
        margin: 15px 15px 15px 0px;
        align-content: center;
        background: black;
        color: #66FF66;
    }
  }

  @media only screen and (max-width: 330px) {

    .buttonDisplayStyling {
        font-size: 1.6rem;
    }
  }